//
// Error template
//
// This file generates the markup used to display an error that prevents the application from working. If you just
// want to understand the WebAuthn part of the example, you do not need to read any of this.
//

extends layout

block content
    h1= message
    h2= error.status
    pre #{error.stack}
