//
// Main template.
//
// This template contains the markup for the application. If you just want to understand the WebAuthn part of the
// example, you do not need to read any of this.
//

extends layout

block content
    h1= title
    p Welcome to #{title}
    form(action='/login', method='post')
        input#user(type='text', name='user', placeholder='Username', required)
        input#pass(type='password', name='pass', placeholder='PIN', required)
        input#submit(type='submit', name='submit', value='Log in')
        span.spinner
